{% extends 'base.html.twig' %}

{% block title %}Oops 404 !
{% endblock %}

{% block body %}
	<div class="max-w-screen-xl mx-auto p-5 sm:p-8 md:p-12">

		<div class="max-w-md mx-auto text-center bg-white bg-opacity-90 p-8 rounded-md shadow-md">
			<div class="text-9xl font-bold text-cyan-600 mb-4">{{  status_code }}</div>
			<h1 class="text-3xl font-bold text-orange-900 mb-6">Oops! Page introuvable</h1>
			<p class="text-md text-cyan-800 mb-2">La page s'est barrée sans prévenir !</p>
			<p class="text-md text-orange-900 mb-2">Pour toute réclamation, voyez avec l'accueil</p>
			<p class="text-md text-cyan-800 mb-2">Message:
				{{ status_text }}</p>
			<p class="text-sm text-cyan-800 mb-10"></p>
			<a href="{{ path('app_main')}}" class="btn-retour">
				Retour à l'accueil
			</a>
		</div>
	</div>

{% endblock %}
